<h1> Редактируйте пост  </h1>

<%= form_for @post do |f| %>

  <p>
    <%= f.label "Тема" %> </br>
  <%= f.text_field :title %> </br>
</p>

<p>
<%= f.label "Текст" %> </br>
<%= f.text_area :body %> </br>
</p>

<p>
  <%= f.select :category_id, Category.all.collect { |x| [x.name, x.id]}, {:include_blank => "Select category"} %>
</p>

 </br>
<p>
  <%= f.submit "Сохранить" %>
</p>
<% end %>
